$font1: roboto;
$font2: Shrikhand;
$white1: rgba(246, 246, 246, 1);
$green1: rgba(153, 226, 208, 1);
$green2: rgba(0, 135, 102, 1);
$blue1: rgba(137, 200, 250, 1);
$blue2: rgba(0, 58, 104, 1);
$purple1: rgba(147, 86, 220, 1);
$grey1: rgba(53, 53, 53, 1);
$grey2: rgba(234, 234, 234, 1);
$grey3: rgba(126, 126, 126, 1);
$pinkgradient: linear-gradient(rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
$pinkgradientreverse: linear-gradient(rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

@keyframes pinkyheart {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1.0)
    }
}

@keyframes pink_button {
    0% {
        transform: scale3d(1.0, 1.0, 1.0);
    }

    100% {
        transform: scale3d(1.025, 1.025, 1.025);
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappearance {
    0% {
        transform: scale(1);
        opacity: 0.85;
    }

    98% {
        opacity: 0;
    }

    100% {
        transform: scale(0);
    }
}

@keyframes spin {
    0% {
        transform-origin: center;
        transform: rotate(360deg);
    }

    100% {
        transform-origin: center;
        transform: none;
    }
}

@keyframes check_rotation {
    0% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(0);
    }
}