body {
    margin: 0;
    font-family: $font1;
}

header {
    display: flex;
    justify-content: center;
    height: 63px;
    width: 100%;
    position: relative;

    i {
        color: $grey1;
        position: absolute;
        left: 20px;
        top: 20px;
        font-size: 18px;
    }

    div {
        display: flex;
        width: 197px;
        height: 36px;
        margin: 14px 0 14px 0;
    }
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: $white1;

    .gps {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin-top: 0;
        box-shadow: 0 1px 4px 4px rgba(0, 0, 0, 0.25);
        background: rgba(234, 234, 234, 1);
        font-size: 16px;
        font-weight: 500;

        i {
            padding-right: 15px;
            font-size: 16px;
            color: rgba(53, 53, 53, 1);
        }
    }
}

.explorer {
    display: flex;
    padding-bottom: 60px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 300;
        box-shadow: none;
        background: none;
    }

    div {
        flex-direction: column;
        width: 100%;
        text-align: center;

        #explorer_button {
            width: 218px;
        }
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 60px 15px;
    row-gap: 20px;
    background: rgba(255, 255, 255, 1);

    h2 {
        margin-bottom: 10px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 73px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        background: $white1;
        position: relative;
        margin-left: 15px;

        .number {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            text-align: center;
            background: $purple1;
            color: $white1;
            font-size: 14px;
            margin: 0;
            position: absolute;
            left: -12px;
        }

        i {
            color: $purple1;
            padding-right: 15px;
        }
    }
}

.restaurant {
    padding: 30px 0 60px 0;

    h2 {
        margin-left: 15px;
    }

    .vignette {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 251px;
        margin: 15px;
        background-color: white;
        border-radius: 15px;
    }

    a {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 251px;
        color: black;
        text-decoration-line: none;
        position: relative;

        img {
            display: flex;
            height: 176px;
            width: auto;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .heart {
            position: absolute;
            bottom: 25px;
            right: 30px;
            font-size: 22px;
        }
    }

    p {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 15px;
        margin: 0;
        font-size: 17px;
        margin-bottom: 10px;
    }

    h3 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 15px;
        margin: 0;
        margin-bottom: 5px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    background: $grey1;
    padding: 0 0 20px 20px;
    row-gap: 7px;
    color: rgba(255, 255, 255, 1);

    h3 {
        margin: 20px 0 0 0;
        font-family: $font2;
        font-size: 18px;
        font-weight: 400;
    }

    a {
        justify-content: flex-start;
        color: rgba(255, 255, 255, 1);
        text-decoration-line: none;
        row-gap: 5px;

        i {
            font-size: 16px;
            margin-right: 15px;
            width: 15px;
        }
    }
}