body {
    margin: 0;
    font-family: $font1;
}

header {
    display: flex;
    justify-content: center;

    div {
        display: flex;
        width: 197px;
        height: 36px;
    }
}

main {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    background-color: $white1;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;

    }
}

.explorer {
    display: flex;

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        h1 {
            display: flex;

        }

        p {
            display: flex;

        }

        #explorer_button {
            width: 218px;
        }
    }

}

section.fonctionnement {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    div {
        display: flex;
        justify-content: center;
    }

    border: solid 2px black;
}

section.restaurant {


    div.vignette {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 251px;
        margin-top: 15px;
        background-color: white;
        border-radius: 15px;

        a {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            height: 251px;

            img {
                display: flex;

                height: 68%;
                width: auto;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
        }

        p {
            display: flex;
            justify-content: flex-start;
            padding-left: 15px;
            margin: 0;
        }

        h3 {
            display: flex;
            justify-content: flex-start;
            padding-left: 15px;
            margin: 0;

        }

        span {
            display: flex;
            justify-content: center;
        }
    }

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    border: solid 2px black;
    margin-top: 15px;
    padding-bottom: 10px;
    row-gap: 10px;
}