@charset "UTF-8";
h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}

.pink_button {
  height: 50px;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 25px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 121, 218)), to(rgb(147, 86, 220)));
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  border: transparent;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 500;
}

.nouveauté {
  width: 80px;
  height: 29px;
  background: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: roboto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 63px;
}
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 197px;
  height: 36px;
  margin: 14px 0 14px 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-color: rgb(246, 246, 246);
}
main p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}
.explorer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
}
.explorer div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
}
.explorer div #explorer_button {
  width: 218px;
}

section.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 15px 60px 15px;
  row-gap: 20px;
  background: rgb(255, 255, 255);
}
section.fonctionnement h2 {
  margin-bottom: 10px;
}
section.fonctionnement div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 73px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background: rgb(246, 246, 246);
}

section.restaurant {
  padding: 30px 0 60px 0;
}
section.restaurant h2 {
  margin-left: 15px;
}
section.restaurant div.vignette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 251px;
  margin: 15px;
  background-color: white;
  border-radius: 15px;
}
section.restaurant a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 251px;
  color: black;
  text-decoration-line: none;
}
section.restaurant a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 176px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
section.restaurant p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 15px;
  margin: 0;
}
section.restaurant h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 15px;
  margin: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  background: rgb(53, 53, 53);
  padding: 0 0 20px 20px;
  row-gap: 10px;
  color: rgb(255, 255, 255);
}
footer h3 {
  margin: 20px 0 0 0;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
}
footer a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: rgb(255, 255, 255);
  text-decoration-line: none;
  row-gap: 5px;
}/*# sourceMappingURL=index.css.map */